
@font-face{
  font-family: Nunito;
  src: url('../Fonts/Nunito/Nunito-ExtraBold.ttf');
}

html{
  height: 100%;
}

body{
  overflow: scroll;
}

.Banner_Wrapper{
  position: relative;
  display: flex;
  left: calc(18%);
  align-items: center;
  z-index: 2;
}

.Banner_Wrapper > div{
}

.Banner_Wrapper > div:nth-of-type(1){
  width: 42vw;
}

.Banner_Wrapper > div:nth-of-type(2){
  width: 25vw;
}

#Game_Banner{
  height: auto;
  margin-top: 12px;
  width: 100%;
}

#Source_Code_Button{
  margin-top: 4px;
  position: relative;
  height: 20vw;
  width: 20vw;
  left: calc(50% - 10vw);
  background: rgba(255,255,255,0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: none;
  box-shadow: 0.2vw 0.5vw 0.5vw 0.2vw rgba(0,0,0,0.32), inset 0.1vw 0.1vw 0.2vw 0vw rgba(255,255,255,0.5);
  border-radius: 4vw;
  font-family: Nunito;
  color: white;
  font-size: 2.5vw;
  line-height: 2.5vw;
  text-shadow: 0 0.5vw 0.5vw rgba(0,0,0,0.1);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(251,119,195,1) 50%);
  background-size: 100% 300%;
  background-position:  0% 10%;
  transition: background-position 0.5s, transform 0.2s, border 0.2s;
  border: 0vw solid rgba(255,255,255,0);
}

#Source_Code_Button:hover{
  background-position: 0% 100%;
  transform: scale(1.05);
  cursor: pointer;
  border: 0.4vw solid white;
}



:root {
  --Hover_Direction: forwards;
}

.Source_Code_Hover{
  animation: Slide_Fill_Keyframes 0.5s forwards;
  animation-direction: var(--Hover_Direction);
  animation-timing-function: ease;
}

@keyframes Slide_Fill_Keyframes{
  0%{background-position: 0% 0%; transform: scale(1);}
  100%{background-position: 0% 100%; transform: scale(1.05);}
}

.Boxes > button > span{
  font-size: 10vw;
}

#Button_Zone{
  margin-top: 4px;
  position: absolute;
  height: 20vw;
  width: 20vw;
  left: calc(50% - 10vw);
  border-radius: 4vw;
}


#Gameplay_Tutorial_Grid{
  display: grid;
  grid-gap: 4vw;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 4vw;
  top: 28vw;
  width: 90vw;
  left: calc(50% - 45vw);
}

.Diagrams{
  position: relative;
  font-family: Nunito;
  left: calc(60% - 20vw);
  width: 40vw;
  height: 28vw;
  background: rgba(255,255,255,0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 4vw;
  box-shadow: 0.2vw 0.5vw 0.5vw 0.2vw rgba(0,0,0,0.32), inset 0.1vw 0.1vw 0.2vw 0vw rgba(255,255,255,0.5);
}

.Diagrams:nth-last-of-type(3){
  left: calc(40% - 20vw);
}

#Diagram_1{
  background-image: url('./Assets/About Card 1.png'); 
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#Diagram_2{
  background-image: url('./Assets/About Card 2.png'); 
  background-size: 44% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#Diagram_3{
  background-image: url('./Assets/About Card 3.png'); 
  background-size: 85% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.Explanations{
  display: -webkit-flex;
  display: flex;
  font-family: Nunito;
  color: white;
  height: 100%;
  width: 100%:
  left: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  text-shadow: 0 0.5vw 0.5vw rgba(0,0,0,0.1);
}

#Wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}


#Open_Menu_Button{
  margin-top: 28px;
  margin-left: 18px;
}








