@font-face{
  font-family: Nunito;
  src: url('../Fonts/Nunito/Nunito-ExtraBold.ttf');
}

#Modal_Background{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 6;
  opacity: 0;
}

#Winner_Banner{
  display: table;
  overflow: hidden;
  position: absolute;
  width: min(60vw,600px);
  background-color: rgba(255,255,255,0.1); 
  border-radius: 2.5vw;
  z-index: 7;
  margin-top: 10vh;
  left: calc(50% - min(30vw,300px));
  box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,0.7), 15px 15px 20px 0px rgba(0,0,0,0.25);
}

#Winner_Text{
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  font-size: 4vw;
  color: white;
  text-shadow: 0 1.7px 1px rgba(0,0,0,0.1);
  font-family: sans-serif;
  font-weight: bold;
  font-family: Nunito;
}
  
#Play_Again_Button{
  display: table-cell; */
  vertical-align: middle; 
  border: none;
  color: white;
  background-color: rgba(255,255,255,0.2);
  box-shadow: inset -0.1vh -0.1vh 2px 0px white, inset 0.2vh 0.2vh 0px 0px rgba(0,0,0,0.05);
  width: 50%;
  height: min(10vw,60px);
  margin-bottom: 5vh;
  border-radius: min(50vw,500px);
  font-family: Nunito;
  font-size: min(3vw,20px);
  text-shadow: 0 1.7px 1px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

#Play_Again_Button:hover{
  transform: scale(1.1);
}


#Winner_Icon{
  position: relative;
  height: 6vw;
  width: 6vw; 
  vertical-align: middle;
  left: calc(50% - 3.8vw);
  border-radius: 1.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: 0.8vw solid rgba(235,235,235,1);
  background-color: rgba(246,75,120,1);
  background: linear-gradient(0deg, #EE459A 0%, #F95371 100%);
  box-shadow: inset 0 min(1.5vw,1.5vh) min(1vw,1vh) min(0.2vw,0.2vh) rgba(0,0,0,0.3), inset 0 calc(-1*min(0.8vw,0.8vh)) min(0.5vw,0.5vh) 0 rgba(255,255,255,0.1);
}

.Winner_Icon_Blue{
  background: linear-gradient(180deg, #8675F7 0%, #75B1F7 100%);
}

.Blur_In_Animation{
  animation: Blur_Keyframes 0.8s ease forwards; 
}

.Blur_Out_Animation{
  animation: Blur_Keyframes_2 0.8s ease forwards;
}

@keyframes Blur_Keyframes{
  from{backdrop-filter: blur(0px); -webkit-backdrop-filter: blur(0px) saturate(0); opacity: 0;}
  to{backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px) saturate(2); opacity: 1;}
}

@keyframes Blur_Keyframes_2{
from{backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); opacity: 1;}
to{backdrop-filter: blur(0px); -webkit-backdrop-filter: blur(0px); opacity: 0; display: none;}
}


