@font-face{
  font-family: Nunito;
  src: url('../Fonts/Nunito/Nunito-ExtraBold.ttf');
}



#Sidebar{
  /* display: none; */
  position: fixed;
  top: 0px;
  left: calc(-1*max(25vw,250px));
  /* left: 0px; */
  height: 100%;
  width: max(25vw,250px);
  background-color: rgba(255,255,255,0.1);
  z-index: 10;
  -webkit-backdrop-filter: blur(15px) saturate(1.2); 
  backdrop-filter: blur(15px) saturate(1.2);
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.2);
}

#Sidebar > a {
  position: relative;
  display: block;
  margin-top: 10px;
  height: max(5.5vw,48px);
  top: 150px;
  left: calc(50% - 40%);
  text-decoration: none;
  width: 80%;
}
#Sidebar > a > button:not(#Close_Menu_Button){
  width: 100%;
  font-size: max(15px,1.5vw);
}

#Sidebar > a > button{
  position: relative;
  display:flex;
  text-overflow: ellipsis;
  height: max(5vw,45px);
  align-items:center;
  justify-content:center;
  border: none;
  border-radius: max(5vw,45px);
  color: white;
  font-family: Nunito;
  background-color: rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(20px) saturate(1.2); 
  backdrop-filter: blur(20px) saturate(1.2);
  box-shadow: inset -0.5px -0.5px 1px 0px white, inset 1px 1px 0px 0px rgba(0,0,0,0.05);
  z-index: 12;
  cursor: pointer;
}

#Icon{
  display: flex;
  position: absolute;
  height: max(25vw,250px);
  width: max(25vw,250px);
  margin-top: 150px;
  z-index: 11;
}

#Icon_Image{
  position: absolute;
  height: 65%;
  width: 65%;
  top: calc(50% - 32.5%);
  left: calc(50% - 32.5%);
  transition: opacity 0.5s ease-out;
}

.Navigation_Buttons{
  transition: transform 0.2s ease, filter 0.2s ease;
  text-shadow: 0 1.9px 1px rgba(0,0,0,0.1);
  background-image: linear-gradient(205deg, rgba(0,0,0,0) 50%, rgba(238,69,154,0.5) 50%);
  background-size: 240% 100%;
  background-position:  100% 0%;
  transition: background-position 0.5s ease-out, transform 0.2s ease-out;
}

.Navigation_Buttons:hover:not(#Close_Menu_Button){
  filter: contrast(1.1);
  transform: scale(1.05);
  transform: scale(1.05);
  background-position: 0% 0%;
}

#Close_Menu_Button:hover{
  transform: scale(1.05);
}

#Open_Menu_Button{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-gap: 1px;
  position: fixed;
  width: max(5vw,40px);
  height: max(5vw,40px);
  font-size: max(30px,2vw);
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  border-radius: max(1vw,5px);
  color: white;
  font-family: Nunito;
  background-color: rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(20px) saturate(1.2); 
  backdrop-filter: blur(20px) saturate(1.2);
  box-shadow: inset -0.5px -0.5px 1px 0px white, inset 1px 1px 0px 0px rgba(0,0,0,0.05);
  cursor: pointer;
  z-index: 14;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(220,220,220,0.8) 50%);
  background-size: 100% 200%;
  background-position:  0% 0%;
  transition: background-position 0.2s ease-out, transform 0.2s ease-out;
}

#Open_Menu_Button:hover{
  transform: scale(1.05);
  background-position: 0% 100%;
}

.Menu_Symbol_Rect{
  position: relative;
  grid-row: span 1;
  height: 100%;
  width: 60%;
  left: calc(50% - 30%);
  cursor: pointer;
}

.Menu_Lines{
  position: absolute;
  height: 20%;
  width: 100%;
  background-color: white;
  cursor: pointer;
  border-radius: 100px;
}

#Top_Line{
  top: calc(100% - 20%);
}

#Middle_Line{
  top: calc(50% - 10%);
}

#Overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  cursor: pointer; 
}

#Close_Menu_Button{
  opacity: 0;
  width: max(5vw,45px);
  height: max(5vw,45px);
  left: calc(100% - max(5vw,45px));
  font-size: max(30px,2vw);
}



#Help_Button{
  position: relative;
  width: max(5vw,40px);
  height: max(5vw,40px);
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  border-radius: 100%;
  border: none;
  background-color: rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(20px) saturate(1.2); 
  backdrop-filter: blur(20px) saturate(1.2);
  box-shadow: inset -0.5px -0.5px 1px 0px white, inset 1px 1px 0px 0px rgba(0,0,0,0.05);
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(220,220,220,0.8) 50%);
  background-size: 100% 200%;
  background-position:  0% 0%;
  transition: background-position 0.2s ease-out, transform 0.2s ease-out;
  z-index: 10;
}

#Help_Button:hover{
  transform: scale(1.05);
  background-position: 0% 100%;
}

#Help_Label{
  color: white;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 3vw;
  text-align: center;
  cursor: pointer;
}

.Slide_Menu_Animation{
  animation: Slide_Keyframes forwards;
  animation-duration: var(--Duration);
  animation-direction: var(--Slide_Direction_1);
  animation-timing-function: cubic-bezier();
}

@keyframes Slide_Keyframes {
  0%{transform: translateX(0);}
  100%{transform: translateX(calc(1*max(25vw,250px)));}
}

:root {
  --Slide_Direction_1: forwards;
  --Duration: 0.1s;
}

@media only screen and (max-width:320px) {
  #Open_Menu_Button{
    margin-top: 17px;
    margin-left: 0px;
  }
  #Help_Button{
    margin-top: 17px;
    margin-right: 0px;
  }
}






